.calculatorHeader {
    background: #09a99e;
    color: #eeeeee;
    text-align: center;
    font-family: ProximaNova, Helvetica, Arial, sans-serif;
    padding: 10px 5%;
    font-size: 5em;
}
input {
    width: 15%;
}

#submitEmployeeButton {
    float: right;
    margin-right: 20%;
    padding: 10px;
}

p {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

table {
    width: 100%;
}

th {
    background-color: #09a99e;
    border: 1px solid black;
    border-style: solid;
    color: #eeeeee;
}

td {
    border: 1px solid black;
    border-style: solid;
}

tr:nth-child(even) {
    background-color: #09a99e;

}

tfoot {
    background-color: darkgray;
    width: 100%;
}

#totalSalary{
    float:right;
}

.deleteEmployee:hover {
    background-color:#09a99e;
}
